#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.top-section {
	height: 100%;
	background-image: url("./assets/pattern-bg-desktop.png");
	background-repeat: no-repeat;
}

.leaflet-container {
	height: calc(100vh - 280px); /* subtracted bg from top-section */
}
